
body{
    
background-image: url(Images/background.png);
background-position: center;
height: 550px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 #link{
    background-color: aqua;
    display: inline-flexbox;
    height: 20px;
    width: 1249px;
    padding-top: 2px;
    padding-left: 15px;
}
#link a{
  color: black;
  text-decoration: none;
  padding-left: 95px;
}
#content{
   float: right;
    height: 316px;
    width: 1165px;
    text-align: justify;
    background-color: greenyellow;
  }
  
    
  #content p{
    padding-left: 5px;
  }
#side-bar{
    width: 100px;
    height:306px ;
    background: turquoise;
    position: absolute;
    left: 8;
    padding-top: 10px;
    
    }
   #side-bar a{
    color: black;
    text-decoration: none;
    padding-left: 10px;}
    
#footer{
    background-color: orange;
    height: 160px;
 margin-top: 25%;
   

}
#footer img{
    width: 35px;
  margin:0 auto 2px;
  cursor: pointer;
  padding-left: 5px;
}
